// Variables de color
$color1: rgba(2, 0, 11, 0.995);
$color2: rgb(188, 148, 28);
$color3: rgb(0, 0, 0);
$color4: rgba(255, 255, 255, 0.851);
$color5: rgb(23, 23, 24);
$color6: rgba(171, 171, 169, 0.641);
$color7: rgb(195, 195, 6);
$color8: rgb(34, 34, 1);
$color9: rgba(46, 45, 45);
$size1: 50px;
$size2: 20px;
$size3: 30px;
$size4: 10px;

// Estilos para el cuerpo
body {
    background-image: url(../img/www.avif);
    background-size: 100%; 
    background-position: center center; 
    background-repeat: no repeat;
    backdrop-filter: blur(4px);
}

// Estilos para el logo
.logo {
    height:$size1;
}

// Estilos para la barra de navegación
.navbar {
    background-color: $color1;
    padding: 30px; 
}

// Estilos para los enlaces de navegación
.nav-link {
    color: $color2 !important;
}

// Estilos para la sección de servicios
.services-section {
    padding: $size1 0;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: 300px;
    margin: $size2;
    padding: $size2;
    border-radius: 5px;
    box-shadow: 0 0 $size4 rgba(177, 176, 176, 0.233);
}

.service img {
    max-width: 100%;
    border-radius: 5px;
}

// Estilos para títulos h2
h2 {
    color: $color2;
    text-shadow: $size4 $size4 25px $color7;
    -webkit-text-stroke: 2px $color8;
}

// Estilos para títulos h3
h3 {
    color: $color2;
    -webkit-text-stroke: 1px $color8;
}

// Estilos para párrafos
p {
    color: $color3;
    font-size: 17px;
    text-align: center;
}

// Estilos para párrafos dentro del pie de página
footer p {
    color: $color2;
    text-align: center;
    font-family: fantasy;
}

// Estilos para el pie de página
footer {
    background-color: $color5;
    padding: $size3 0;
    text-align: right;
}

// Estilos para imágenes
.contenedor {
    overflow: hidden;
}

.imagen1 {
    width: 400px; 
    height: auto;
    float: left; 
    margin-right: $size2;
}

.imagen2 {
    width: 400px; 
    height: auto;
    float: right; 
    margin-left: $size2;
}

.imagen {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 70px;
}

// Estilos adicionales para párrafos
.contenedor p {
    margin-left: $size4; 
    color: $color4;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    -webkit-text-stroke: 0.1px $color9;
    font-weight: bold;
    justify-content: center;
}

// Estilos para enlaces en el cuerpo
body a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

// Estilos para enlaces de redes sociales en el pie de página
.redes {
    text-align: center !important;
}

footer .redes a {
    color: $color6;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
}

.tituloRedes {
    color: $color6;
}

// Estilos para enlaces de navegación al pasar el cursor por encima
nav a:hover {
    color: white !important;
}

/* Estilos para pantallas de 576px a 701px */
@media screen and (min-width: 576px) and (max-width: 701px) {
    .navbar {
        overflow: hidden;
        /* Evitar que el contenido desborde del navbar */
        padding-right: 20px;
        /* Agregar espacio al lado derecho del navbar */
        padding-left: 20px;
        /* Agregar espacio al lado izquierdo del navbar */
    }

    body {
        background-size: cover;
        /* Ajustar el tamaño del background para cubrir todo el cuerpo */
        background-attachment: fixed;
        /* Fijar el background para que no se desplace con el contenido */
    }
}

/* Estilos para pantallas de 577px a 721px */
@media screen and (min-width: 576px) and (max-width: 721px) {
    .navbar-nav .nav-link {
        font-size: 9.2px;
        /* Reducir el tamaño de la fuente */
        padding: 0 5px;
        /* Reducir el espaciado horizontal */
    }
}